.container {
    position: absolute;
    /* left: 300px; */
    margin-left: 300px;
    margin-top: 300px;
    height: 150px;
    width: 1000px;
    border: 1px blue solid;
    overflow: hidden;
}

#head {
    left: 70px;
    /* margin-top: 70px; */
    /* margin-left: 50px; */
    bottom: 0px;
    width: min-content;
    position: relative;
    display: inline-block;
    position: absolute;
}

#kaktus {
     /* margin-top: 90px; */
    bottom: 0px;
    /* width: min-content; */
    /* float: left; */
    /* position: relative; */
    position: absolute;
    display: inline-block;
}

.kaktus-img {
    width: 25px;
    height: 30px;
    /* max-width: 20px; */
}

.dino-img {
    width: 40px;
    height: 45px;
}

/* .parent{
    position: absolute;
    top: 200px;
    left: 200px;
    border: solid 2px red;
} */