.container {
    /* position: absolute;
    left: 300px; */
    margin-left: 300px;
    margin-top: 300px;
    height: 150px;
    width: 1000px;
    border: 1px blue solid;
    /* overflow: hidden; */
}

#head {
    margin-top: 90px;
    margin-left: 50px;
    position: relative;
}

#kaktus {
     /* margin-top: -57.5px; */
    margin-left: 1000px;
    bottom: 60px;
    /* float: left; */
    position: relative;
}

/* .parent{
    position: absolute;
    top: 200px;
    left: 200px;
    border: solid 2px red;
} */